
html, body {
    background-color: rgb(60, 60, 60);
    color: white;
    padding: 0;
    margin: 0;
}

body {
    margin: 10px;
}

header {
    background-color: rgb(32, 32, 32);
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    margin: -10px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

header nav li {
    display: inline-block;
    margin-left: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    transition: font-weight 0.2s;
}

header nav a:hover {
    text-decoration: underline;
}

header nav a.active {
    font-weight: bold;
    color: rgb(52, 152, 219);
}

/*
main {
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    padding: 20px;
    flex-wrap: wrap;
    color: white;
}
*/

#rotating-text {
    font-size: 24px;
    color: rgb(52, 152, 219);
    text-align: center;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}

/* Styling for the home content */
.home-content {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    color: white;
}

.home-content .image {
    flex: 1;
    padding: 20px;
    order: 1;
}

.home-content .text {
    flex: 1;
    padding: 20px;
    order: 2;
}

.home-content img {
    max-width: 100%;
    height: auto; 
}

/* Styling for the project section */
.project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    color: white;
}


.project .top,
.project .bottom {
    display: flex;
    flex: 1;
}


.project .image,
.project .text {
    flex: 1;
    padding: 20px;
}

.project img {
    max-width: 100%;
    height: auto;
}


.project .text p {
    font-size: 16px;
    color: white;
}

.home-content .text,
.project .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 60px;
}

