html, body {
    background-color: rgb(60, 60, 60);
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(32, 32, 32);
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

header nav li {
    display: inline-block;
    margin-left: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    transition: font-weight 0.2s;
}

header nav a:hover {
    text-decoration: underline;
}

header nav a.active {
    font-weight: bold;
}

main {
    margin: 20px;
}
