html {
    background-color: rgb(60, 60, 60);
    color: white;
}
header {
    text-align: right;
    background-color: rgb(32, 32, 32);
    padding: 10px 0:
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
body {
    margin: 0:
    padding: 0;
}
